body {
    background: #f2f2f2;
    font-family: 'Questrial', sans-serif;
}
aside.context {
    text-align: center;
    color: #333;
    line-height: 1.7;
}
aside.context a {
    text-decoration: none;
    color: #333;
    padding: 3px 0;
    border-bottom: 1px dashed;
}
aside.context a:hover {
    border-bottom: 1px solid;
}
aside.context .explanation {
    /* max-width: 700px; */
    width: fit-content;
    margin: 4em auto 0;
}

.main-content {
    margin: 4em auto 0;
    width: 740px;
    /* width: fit-content; */
    text-transform: uppercase;
}
.ticket {
    display: grid;
    grid-template-columns: auto 0;
    background: #f3f1c9;
    border-radius: 10px;
    border: 2px solid #222;
    cursor: default;
}
.ticket__main {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 120px;
    grid-template-rows: repeat(4, min-content) auto;
    padding: 10px;
}
.header {
    grid-area: title;
    grid-column: span 7;
    grid-row: 1;
    /* font: 900 38px 'Montserrat', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 700;
    padding: 5px 0 5px 20px;
    letter-spacing: 6px;
    background: #111;
    color: #f3f1c9;
}
.info {
    border: 3px solid;
    border-width: 0 3px 3px 0;
    padding: 8px;
}
.info__item {
    font: 400 13px 'Questrial', sans-serif;
    letter-spacing: 0.5px;
}
.info__detail {
    font: 700 20px/1 'Jura';
    letter-spacing: 1px;
    margin: 4px 0;
}
.passenger {
    grid-column: 1 / span 6;
}
.platform {
    grid-column: 7 / span 1;
    grid-row: 2 / span 3;
    background: #c02a28;
    color: #fff;
    border-color: #000;
    text-align: center;
    padding: 10px 0;
}
.platform span {
    display: block;
}
.platform span:nth-child(1) {
    font: 900 22px/1 'Montserrat';
    letter-spacing: 1.5px;
}
.platform span:nth-child(2) {
    font: 900 29px/1 'Montserrat';
    letter-spacing: 3px;
}
.platform span:nth-child(3) {
    font: 900 16px/1.2 'Montserrat';
    letter-spacing: 0.5px;
}

.platform .number{
    font: 900 90px/1 'Old Standard TT';
}
.departure, .arrival {
    grid-column-start: span 3;
}
.passenger, .departure, .date {
    border-left: 3px solid;
}
.date, .time {
    grid-column-start: span 2;
}
.fineprint {
    grid-column-start: span 7;
    font-size: 14px;
    font-family: 'Inconsolata';
    line-height: 1;
    margin-top: 10px;
    padding-right: 5px;
}
.fineprint p:nth-child(2) {
    margin: 4px 4px 0 0;
    padding-top: 4px;
    border-top: 1.5px dotted;
    font: 11px/1 'Inconsolata';
}
